:root {
    --color1: #b05bd4;
    --color2: #FFB6C1;
    --color3: #FFC8A4;
    --color4: #FFDE96;
    --color5: #FFF388;
    --color6: #9de0e4;
    --text-color: #000000;
    --background-color: #FFFFFF;
}

header {
    position: relative; /* establish a positioning context */
    z-index: 1;
    display: flex;
    align-content: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.6px;
    color: var(--text-color);
    padding: 20px;
    text-align: left;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color1); /* your desired header background color */
  filter: brightness(1.2);     /* adjust the brightness to your needs */
  z-index: -1;                /* places this layer behind the header’s content */
}


h1 {
    color: gray;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.3);
}

.highlightdark {
    color: #4070f5;
    
}

#cartIcon {
    text-decoration: none;
}

#cartIcon svg {
    width: 50px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.snipcart-items-count {
    color: #000000;
    background-color: white;
    text-align: center;
    padding: .18rem .3rem .15rem .35rem;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 20px;
    right: 20px;
}

main {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
}

h2 {
    font-family: "Agbalumo", system-ui;
    font-style: normal;
    letter-spacing: 2.6px;
    border-bottom: 3px solid rgb(102, 102, 177);
    padding-bottom: 10px;
    text-align: center;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(102, 102, 177);
    color: #f2feff;
    padding: 10px;
    text-align: center;
    border-top: 3px solid var(--color6);
}